.cropper-container {
  direction: ltr;
  font-size: 0;
  line-height: 0;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cropper-container img {
  display: block;
  max-width: none !important;
  min-width: 0 !important;
  min-height: 0 !important;
  max-height: none !important;
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.cropper-wrap-box,
.cropper-canvas,
.cropper-drag-box,
.cropper-crop-box,
.cropper-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cropper-wrap-box {
  overflow: hidden;
}

.cropper-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cropper-drag-box {
  background-color: rgba(0, 0, 0, 0.15);
  cursor: move;
}

.cropper-crop-box {
  cursor: move;
  border: 1px solid #fff;
  box-sizing: border-box;
}

.cropper-view-box {
  display: block;
  overflow: hidden;
  outline: 1px solid rgba(255, 255, 255, 0.75);
  outline-offset: -1px;
}

.cropper-dashed {
  position: absolute;
  display: block;
  border: 0 dashed #fff;
  opacity: 0.75;
}

.cropper-line {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.cropper-point {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
}
